img {
    border: 3px solid black; 
    border-radius: 5%;
}
@font-face {
  font-family: texxt;
  src: url(fonts/Cinzel-VariableFont_wght.ttf);


}
@font-face {
  font-family: url;
  src: url(fonts/Cinzel-VariableFont_wght.ttf)
}
@font-face {
  font-family:med;
  src: url(fonts/Cinzel-VariableFont_wght.ttf)
}

@font-face {
    font-family: big;
    src: url(fonts/Merienda-VariableFont_wght.ttf);
    
  }
  
 h1{
    font-family: med;
    font-size: 32px;

 }
 h2{
      font-family: big;
      font-size: 30px;
    }


  body {
    background-color: rgb(185, 190, 196);
    text-align: center;
    list-style-position: inside;
  
  }

  a {
    font-size: 25;
    color:blue;
    font-family: url;
  

  }
  h3{
    font-family: texxt
  }
  .center{
    text-align: center;
  }
  li {
    font-size: 20;
  }
  a:hover{
    color: rgb(150, 4, 4);
  }
  .outlined-text{ 
    
  -webkit-text-stroke: 0.6px rgb(150, 4, 4);
  }
  h3{
    font-size: 23px;
  }
  .big-icon{
    font-size: 50px;
  }
  b{
    font-family: big;
    font-size: 30px;
  }

  
 hr{
  border: 1px solid black
 }
 body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 37%;
  width: 0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#222020;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 21px;
  color: rgb(255, 255, 255);
  display:block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgb(163, 152, 146);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color:#222020;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

